PROJECT_NAME=
SECRET_KEY=
DEBUG=

BOT_TOKEN=
BOT_USERNAME=
MAX_MESSAGE_PER_SECOND=
SUPPORT_USERNAME=

CRYPTO_BOT_API_TOKEN=
YKASSA_TOKEN=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

REDIS_PORT=6379
REDIS_HOST=redis